{% if widget.is_initial %}
  <div class="clearable-file__current">
    <p>{{ widget.initial_text }} <a href="{{ widget.value.url }}">{{ widget.value }}</a></p>
    {% if not widget.required %}
      <label for="{{ widget.checkbox_id }}">
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
        {{ widget.clear_checkbox_label }}
      </label>
    {% endif %}
  </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value.url %} value="{{ widget.value.url }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
