{% load i18n %}
{% if podcasts_url %}
  <td class="children">
    {% blocktranslate with title=instance.title asvar link_title %}View podcasts of '{{ title }}'{% endblocktranslate %}
    <a href="{{ podcasts_url }}" class="icon icon-arrow-right text-replace" title="{{ link_title|safe }}" aria-label="{{ link_title }}"></a>
  </td>
{% else %}
  <td></td>
{% endif %}
