.radioshow-permissions-formset th:not(:first-child),
.radioshow-permissions-formset td:not(:first-child) {
  text-align: center;
}

.radioshow-permissions-formset .model-group {
  border-right: 1px solid var(--w-color-grey-100);
  border-left: 1px solid var(--w-color-grey-100);
}

.radioshow-permissions-formset thead tr:first-child th,
.radioshow-permissions-formset thead tr:first-child td {
  padding-top: 0;
  padding-bottom: 0;
}
.radioshow-permissions-formset thead tr:first-child th {
  font-weight: 600;
}
