{% extends "wagtailadmin/generic/form.html" %}
{% load wagtailadmin_tags %}

{% block main_content %}
  {% block before_form %}{% endblock %}
  <form action="{{ action_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% block non_field_errors %}
      {% for error in form.non_field_errors %}
        {% help_block status="critical" %}{{ error }}{% endhelp_block %}
      {% endfor %}
    {% endblock %}

    {% if panel %}
      {{ panel.render_form_content }}
    {% else %}
      {% block hidden_fields %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
      {% endblock %}

      <ul class="fields">
        {% block visible_fields %}
          {% for field in form.visible_fields %}
            {% include "wagtailadmin/shared/field_as_li.html" %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% endif %}

    {% block actions %}
      <button type="submit" class="button">{{ submit_button_label }}</button>
    {% endblock %}
  </form>
  {% block after_form %}{% endblock %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  {% comment %}
    The following scripts are required for the 'link' feature of the Draftail editor
    to work - which is used by the description field of RadioShow and Podcast. See:
      wagtail/admin/templates/wagtailadmin/pages/_editor_js.html
  {% endcomment %}
  <script>
    window.chooserUrls = {
      'pageChooser': '{% url "wagtailadmin_choose_page" %}',
      'externalLinkChooser': '{% url "wagtailadmin_choose_page_external_link" %}',
      'emailLinkChooser': '{% url "wagtailadmin_choose_page_email_link" %}',
      'phoneLinkChooser': '{% url "wagtailadmin_choose_page_phone_link" %}',
      'anchorLinkChooser': '{% url "wagtailadmin_choose_page_anchor_link" %}',
    };
  </script>
  <script src="{% versioned_static "wagtailadmin/js/modal-workflow.js" %}"></script>
{% endblock %}
